.container{
    display: flex;
    flex-direction: column;
    margin: 2em ;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding-bottom: 2em;
    border-radius: 10px;
    
}
.formulario{
    display: flex;
    flex-direction: column;
}
.texto-titulo{
    text-align: center;
}
.hidden{
    display: none;
}
.usuario, .senha, .buttonEnviar{
    margin-top: 1em;
    border: none;
    border-radius: 0.2em;
    height: 28px;
}
.buttonEnviar:hover{
    background-color: azure;
}
.error-text{
    font-size: 10px;
}